.root {
    -fx-background-color: linear-gradient(to right, #87BFFF, #3F8CFC, #2667FF, #3B28CC);
}

.table-view {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-border-color: #2667FF;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 5);
}

.button {
    -fx-background-color: #3F8CFC;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 8px;
    -fx-padding: 10px;
}

.button:hover {
    -fx-background-color: #2667FF;
}

.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-border-color: #2667FF;
}
